html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.label-div-color {
    background-color: #dff0d8;
    border: solid;
    border-color: #fff;
}
.es-carousel ul{
    display: inline;
}

.preview-image-good {
    max-width: 290px;
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.main-body-site {
    background-color: #333;
}
.nav-border .navbar-inverse {
    background-color: #333;
    border-color: #000000;
}

div.category-bar {
    background-color: #F3F3F3;
    color: #333;
}

div .content-container {
    background-color: #F3F3F3;
}
div .all-container {
    width: 1400px;
}
.col-centered {
     display:inline-block;
     float:none;
     text-align:left;
     margin-right:-4px;
 }
.col-fixed {
    margin-bottom: 7px;
    height: 450px;
}

.col-fixed-image {
    margin-bottom: 7px;
    height: 300px;
}
.col-fixed .thumbnail {
    height: 450px;
}